
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_MedicareLayout.cshtml";
}

<div class="main-content" data-ng-app="MedicareEnrollmentModule" ng-controller="ProfileController">
    <div class="container">
        <div class="caption-heading">
            <div class="caption-h">
                Profile
            </div>
        </div>

    </div>



    <div class="container">
        <div class="form-head">
            UserInfo
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <form class="form-horizontal" role="form">
                    @*<div class="form-group required">
                            <label for="firstName" class="col-sm-5 control-label">Registration Type:</label>
                            <div class="col-sm-3">
                                <input type="text" id="firstName" class="form-control" ng-model="RegType">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>*@
                    <div class="form-group required col-sm-12">
                        <label for="lastName" class="col-sm-5 control-label">Affinity ID:</label>
                        <div class="col-sm-3">
                            <select id="country" ng-disabled="true"  name="affinity" class="form-control">
                                <option value="EGPI" ng-value="'EGPI'">Educator Group Plans Insurance</option>
                            </select>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Agent First Name:</label>
                        <div class="col-sm-3">
                            <input type="text" id="lastName" ng-disabled="true" class="form-control" ng-model="FirstName">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Agent Middle Name:</label>
                        <div class="col-sm-3">
                            <input type="text" id="lastName" ng-disabled="true" class="form-control" ng-model="MiddleName">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Agent Last Name:</label>
                        <div class="col-sm-3">
                            <input type="text" id="lastName" ng-disabled="true" class="form-control" ng-model="LastName">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Agent SAN:</label>
                        <div class="col-sm-3">
                            <input type="text" id="lastName" ng-disabled="true" class="form-control" ng-model="SAN">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Agent Email:</label>
                        <div class="col-sm-3">
                            <input type="text" id="lastName" ng-disabled="true" class="form-control" ng-model="Email">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    @*<div class="form-group required">
                            <label for="lastName" class="col-sm-5 control-label">Phone:</label>
                            <div class="col-sm-3">
                                <input type="text" id="lastName" class="form-control" ng-model="Phone">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group required">
                            <label for="lastName" class="col-sm-5 control-label">Mailling Address:</label>
                            <div class="col-sm-3">
                                <input type="text" id="lastName" class="form-control" ng-model="Address">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group required">
                            <label for="lastName" class="col-sm-5 control-label">City:</label>
                            <div class="col-sm-3">
                                <input type="text" id="lastName" class="form-control" ng-model="City">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group required">
                            <label for="lastName" class="col-sm-5 control-label">State:</label>
                            <div class="col-sm-3">
                                <input type="text" id="lastName" class="form-control" ng-model="State">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group required">
                            <label for="lastName" class="col-sm-5 control-label">PostalCode?</label>
                            <div class="col-sm-3">
                                <input type="text" id="lastName" class="form-control" ng-model="PostalCode">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>*@
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Password:</label>
                        <div class="col-sm-3">
                            <input type="password" id="lastName" class="form-control" ng-model="Password">
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName" class="col-sm-5 control-label">Confirm Password:</label>
                        <div class="col-sm-3">
                            <input type="password" id="lastName" ng-model="CNFPassword" class="form-control">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-lg-12">

                <center>  <button type="button" class="btn btn-default" ng-click="InsertProfileInfo()">Update</button></center>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Scripts/CommonModule.js"></script>
<script src="~/Scripts/Scripts/Profile/ProfileControllerV1.js"></script>
<script src="~/Scripts/Scripts/Profile/ProfileServiceV2.js"></script>
