<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/AngularJs/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/AngularJs/angular.js"></script>
    <link href="~/Content/Listbox.css" rel="stylesheet" />
    <script src="~/Scripts/Listbox.js"></script>

    <script src="~/Scripts/AngularJs/angular-cookies.js"></script>
    <script src="~/Scripts/AngularJs/ngStorage.js"></script>
    <script src="~/Scripts/AngularJs/angular-route.js"></script>
    <script src="~/Scripts/Scripts/CommonModule.js"></script>
    <title>Medicare Enrollment Application</title>
    <!-- Form Validaotors-->
    <link href="~/Content/formValidator.css" rel="stylesheet" />
    <script src="~/Content/formValidator.js"></script>
    <script src="~/Content/numbers.js"></script>
    <title>Medicare Enrollment Application</title>
</head>
<body>
    @*<div class="header">
        <nav class="navbar navbar-medi">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="~/Images/Logo.png"></a>
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
    @*</div>*@
    <!-- Collect the nav links, forms, and other content for toggling -->
    @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">*@
    @*<ul class="nav navbar-nav">
            <li><a href="#">Medicare Enrollment</a></li>
            <li><a href="#">Contact US</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
        </ul>*@
    @*</div>*@
    <!-- /.navbar-collapse -->
    @*</div>*@<!-- /.container-fluid -->
    @*</nav>*@
    @*</div>*@
    <div class="header">

        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="~/Images/Logo.png"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="~/Login/Profile">My Profile</a></li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
                    </ul>*@
                <h2> Medicare Enrollment Application</h2>
            </div>
        </nav>
    </div>

    <div class="content-body">
        @RenderBody()
    </div>
    <div class="footer">
        &copy; 2017 - All Right Reserved.
    </div>
</body>
</html>
