
@{
    ViewBag.Title = "SEP";
    Layout = "~/Views/Shared/_MedicareLayout.cshtml";
}


<div class="form-group">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-3">
            @*<button type="button" class="btn btn-default">Previous</button>*@
            <a href="~/Enrollment/PrimaryCare" class="btn btn-default">Previous</a>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-3">
            <a href="~/Enrollment/GrpCovgeQues" class="btn btn-default">Next & Save</a>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>


